<h1>¿Olvidaste tu contraseña?</h1>
<p>Por favor ingresá tu email para recibir el enlace para reestablecer tu contraseña.</p>
<form action='/forget-password' method='POST'>
  <p>Email</p>
  <input type='text' name='email' />
  </br>
  <button class='averageButton' type='submit'>Restablecer mi contraseña</button>
</form>
<button class='averageButton' onclick="location.href='/?login=true'">Volver</button>