<section>
  <div class="container notFoundContainer">
    <div>
      <a class="notFoundNavbarItem" href="https://bulma.io">
        <img
          src="https://i.ibb.co/Gsrn9xp/messi-perdido.jpg"
          class="notFoundImage"
          style="max-height: max-content;"
        />
      </a>
      <div>
        <h1 class="notFoundTitle">404</h1>
      </div>
      <div>
        <h3 class="notFoundSubtitle">
          Look like you're lost
        </h3>
        <p class="notFoundParagraph">The page you are looking for is not available!</p>
        <a href="/" class="notFoundButton">Go to Home</a>
      </div>
    </div>
  </div>
</section>
