<h1>Contraseña Restablecida</h1>
<p>Tu contraseña ha sido restablecida con éxito.</p>
<a href='/?login=true'>Iniciar sesión</a>
<button class='averageButton' onclick="location.href='/?login=true'">Volver</button>